/*
 * © 2024 - 2026 Fraunhofer-Gesellschaft e.V., München
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-700;
}

html,
body,
#app {
  height: 100%;
}

.tooltip {
  @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
  @apply z-50 visible;
}
